[class*="col"] {
    background-color: #006cfa;
    min-height: 35px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 35px;
}

[class*="col"] [class*="col"] {
    background-color: #00e165;
    padding: 5px;
    margin: 5px;
}

[class*="nested"] {
    display: flex;
    flex-wrap: nowrap;
}