/*--------------
    COMMONS
---------------*/

[class*="col"] {
    background-color: #006cfa;
    min-height: 35px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 35px;
}

[class*="col"] [class*="col"] {
    background-color: #00e165;
    margin: 2px;
}

[class*="nested"] {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin-bottom: 20px;
}

/*--------------
    TYPO
---------------*/

.top-title h3 {
    margin: 0;
}

.bottom-title h3 {
    margin: 10px 0;
}